<table class "table table-striped">
  <thead class="thead bg-primarytext-white">
    <tr>
      <th scope="col">Post</th>
      <th scope="col">User Name</th>
    </tr>
  </thead>
            <tbody>
              <tr *ngFor="let post of postList">
                <td>
                  {{ post.id}}
                </td>
                <td>
                  {{ post.text }}
                </td>
                <td><button>View</button></td>
                <td><button>Delete</button></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                   <input>
                </td>
                <td>
                  <select formControlName="postId" class="form-control">
                    <option *ngFor=" let post of postList" [value]="post.postId">{{post.text}}</option>
                  </select></td>
                  <td><button>Add</button></td>
              </tr>
            </tfoot>

</table>
